node_modules/
npm-debug.log*
yarn-error.log

/vendor/
composer.lock
.env
.env.*

!.env.example

# Laravel
storage/data/
storage/framework/
storage/logs/
bootstrap/cache/

# Vite
public/build/
public/hot/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Testing
.phpunit.cache
coverage/
